html,
body {
  padding: 0;
  margin: 0;
  /*background: linear-gradient(to bottom, #F1F2F5, #B0C8F1);*/
  background-color: #FADADF;
}

*{
  /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif*/
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#main h2, #g1 h1, #g2 h1, #g3 h1{
  display: flex;
  justify-content: center;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
  font-style: normal;
}

.btn-main{
  font-weight: bold;
}

#main button{
  min-width: 60%;
  margin: 25px auto;
  font-size: 24px;
  background-color: #FFECC1;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 70px;
}

.nodisp{
  display: none !important;
}


#g1{
 /* background-color: #FADADF;*/
 background-color: #A9D9B4;
}


#g2{
  background-color: #A9D9B4; 
}

#g3{
 /* background-color: #b1ddfb;*/
 background-color: #A9D9B4;
}

button{
  font-size: 16px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid black;
}

#g2 .game-cont h1{
  display: flex;
  justify-content: center;
  margin: 0px;
}

.btn-main{
  padding: 10px;
  font-size: 12px;
  background-color: #FFECC1;
  height: fit-content;
}

#btn-g1-back, #btn-g2-back, #btn-g3-back{
  padding: 10px;
  font-size: 12px;
  background-color: #FFECC1;
  height: fit-content;
}

#headerGenerala {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0px;
}

#turnoGenerala{
  font-size: 1.4em;
  margin: 0px;
  display: flex;
  justify-content: center;
}

#roll-btn{
  background-color: #FFECC1;
  margin: 5px 0px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 10px 80px;
  align-items: center;
}

.dados{
  display: inline-block;
  margin: 0px 10px;
  height: 60px;
  border: 5px solid #ffecc100;
}

.dados-container, #controles{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dados-container{
  margin: 5px auto;
  width: 80%;
}

.dadosSeleccionados{
  border: 5px solid #62B273;
}

.scores{
  display: flex;
  justify-content: center;
}

#g2 .scores table{
  background-color: white;
  border-collapse: collapse;
  font-size: 1.1em;
  width: 70%;
}

#g2 .scores th, #g2 .scores td{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

#g2 .scores table tbody tr:last-of-type td {
  font-weight: bold;
  cursor: default;
}

.overlay {
  position: fixed; /* Cubre toda la ventana */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
  z-index: 10; /* Debe estar detrás del modal */
  display: none; /* Oculto por defecto */
}

.modal {
  z-index: 20;
  position: fixed;
  width: 60%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.modal button{
  margin-top: 30px;
}

#modal-message{
  font-size: 1.5em;
}

.div-modal{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
 

#modal-content, #modal-content-preg{
  background-color: #FFECC1; /*#FFECC1;*/
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  border: 3px solid black;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.div-modal-preg button{
  width: 100%;
  margin: 0 auto;
}

#main, .game{
  padding: 0;
  padding-top: env(safe-area-insert-top);
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 2%;
}

.roulette-container{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-pointer{
  font-size: 30px;
}

.category-wheel {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 10px solid #333;
  transform-origin: center;
  transition: transform 4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.category-slot {
  position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
}

.spin-button{
  margin-top: 20px;
  background-color: #FFECC1;
  font-size: 1.8em;
  border-radius: 40px;
}

#score-preg{
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
  font-size: 1.4em;
  flex-direction: column;
}

#round-moves-preg{
  display: flex;
  justify-content: space-between;
  margin: auto 50px;
  font-size: 1.2em;
}

#main-preg{
  display: flex;
  flex-direction: column;
}

#preg-main-info{
  display: flex;
  flex-direction: column;
}

#round-preg, #intento, #score-preg, #reloj{
  font-weight: bold;
}

#reloj-container{
  display: flex;
  font-size: 1.3em;
  padding: 15px;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto;
  border-radius: 40px;
  margin-top: 20px;
  min-width: 32px;
}

#opciones{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#pregunta-container{
  height: fit-content;
  border-radius: 50px;
  border: 3px solid black;
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pregunta-container #opciones button{
  margin-bottom: 1em;
  font-size: 1.4em;
}

#category-question{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  margin-bottom: 10%;
}

#category-question h3{
  font-size: 1.4em;
}

#pregunta{
  font-size: 1.8em;
  text-align: center;
}

#modal-message-preg{
  font-size: 1.5em;
}

#restart-btn-preg{
  margin-bottom: 20px;
}

/* ajustes para pantalla en modo horizontal en móviles */
@media (orientation: landscape) and (max-width: 1024px) {

  #main h2, #g1 h1, #g2 h1, #g3 h2 {
      font-size: 20px; 
  }

  #main div{
    display: flex;
    flex-direction: row;
  }

  #main button {
      min-width: 20%;
      font-size: 18px;
  }

  #btn-g2-back{
    font-size: 0.6em;
    margin-top: 10px;
  }

  .game-cont{
    display: flex;
  }

  #g2 .game-cont h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 20px 0px;
}

  #turnoGenerala {
    display: flex;
    justify-content: center;
    font-size: 1em;
    
}

  .scores {
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}

.dados-container{
  margin-top: 40px;
  width: auto;
}

  .dados {
    margin: 5px;
  }

  #modal-content {
      width: 70%; 
      height: auto;
      padding: 15px;
      font-size: 14px; 
  }

  #g2 .scores table {
    font-size: 0.7em;
    width: 80%;
  }
  #g2 .scores th, #g2 .scores td{
    padding: 7px;
  }

  #h1-preg{
    font-size: 2em;
  }
  
  #main-preg{
    flex-direction: row;
    width: 100%;
  }

  #headerPreg{
    display: flex;
    justify-content: space-between;
  }

  #g3 h1{
    margin-right: 20px;
  }

  #preg-main-info {
    width: 50%;
}

.roulette-container{
  width: 50%;
}

.category-wheel{
  width: 150px;
  height: 150px;
}

#reloj-container{
  margin: 0px;
  font-size: 1.2em;
}

#pregunta-container{
  width: 90%;
  margin: 0% 5%;
  align-items: center;
  flex-direction: row;
}

#category-question{
  width: 45%;
}

#opciones{
  width: 45%;
}
}

