html,
body {
  padding: 0;
  margin: 0;
  background-color: pink;
}

*{
  font-family: 'Poppins', sans-serif;
}

.nodisp{
  display: none !important;
}


#g1{
  background-color: rgb(225, 225, 225);
}

#g2{
  background-color: rgb(231, 231, 154);
}

.dados{
  display: inline-block;
  padding: 10px;
  margin: 20px;
}

.dadosSeleccionados{
  border: 2px solid red;
}

#g2 .scores table{
  background-color: #8a2be2;
  border-collapse: collapse;
}

#g2 .scores th, #g2 .scores td{
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

#g2 .scores table tbody tr:last-of-type td {
  font-weight: bold;
  cursor: default;
}

#g3{
  background-color: green;
  color: white;
}

#main, #perfil, .game{
  padding: 0;
  padding-top: env(safe-area-insert-top);
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 2%;
}