#cont-tateti{
    margin-top: 40%;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: max-content;
}

.celda {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box; 
}



button {
    padding: 10px 20px;
    font-size: 1.2em;
    
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.ganador {
    font-size: 1.5em;
    color: #E7919D;
    display: none;
    text-align: center;
    margin: 16px 0px;
    font-size: 1.5em;
}


.celda.bloqueada {
    cursor: not-allowed;
}

#reset{
    display: flex;
    margin: auto;
    background-color: #FFECC1;
    margin: 20px auto;
}

#turno{
    display: flex;
    justify-content: center;
    margin: 16px 0px;
    font-size: 1.5em;
}

#turno span{
    margin-left: 15px;
}


#h1-tateti{
    display: flex;
    justify-content: center;
}

@media (orientation: landscape) and (max-width: 1024px) {
    #cont-tateti{
        margin-top: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #text-tateti{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #g1 #cont-tateti h1{
        margin-top: 0px;
        font-size: 1.7em;
    }

    #btn-g1-back{
        font-size: 0.6em;
        margin-top: 10px;
      }
    
    

      #reset{
        font-size: 1em;
      }

  
    .ganador {
        display: none;
        text-align: center;
    }
    
}