#cont-tateti{
    margin-top: 40%;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: max-content;
}

.celda {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box; 
}



button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.ganador {
    font-size: 1.5em;
    color: #E7919D;
    display: none;
    text-align: center;
    margin-top: 20px;
}


.celda.bloqueada {
    cursor: not-allowed;
}

#reset{
    display: flex;
    margin: auto;
    background-color: #FFECC1;
}

#turno{
    display: flex;
    justify-content: center;
}

#h1-tateti{
    display: flex;
    justify-content: center;
}

@media (orientation: landscape) and (max-width: 1024px) {
    #cont-tateti{
        margin-top: 0%;
    }

    #g1 #cont-tateti h1{
        font-size: 1em;
        margin-top: 0px;
    }

    #btn-g1-back{
        font-size: 0.6em;
        margin-top: 10px;
      }
    
    .ganador{
        font-size: 1em
      }
    
    #tablero{
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
        margin: 8px auto;
      }

      #reset{
        font-size: 1em;
      }

    #g1 #turno{
        font-size: 1em;
        margin-top: 0px;
      }
    .ganador {
        font-size: 1em;
        display: none;
        text-align: center;
        margin-top: 0px;
    }
    
}